.user-list{
    margin: 0.5rem 0;
}
.user{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
}

.user:hover{
    background-color: rgba(35, 51, 77,0.5);
}

.user-info p{
    font-size: 14px;
    color: #7F91A4;
}

.user img{
    margin-right: 1rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user.active{
    background: #2B5278;
}

.user-list a{
    text-decoration: none;
    color: #F5F5F5;
}